*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
.container,
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.welcome{
  width: calc(100% / 3 - 3rem);
  margin-left: 3rem;
  margin-top: 4rem;
}
.services{
  width: calc(100% / 3 * 2 - 2rem);
  margin-right: 2rem;
}
.service{
  width:calc (50%);
  
}
.welcome-title{
  font-size: 40px;
  font-weight: 600;
}
.blu{
  color: #28C0F1;
}
.container .welcome p,
.paragraph p{
  line-height: 25px;
}
.welcome-text{
  margin-top: 1.5rem;
}
.welcome-btn{
  border: none;
  color: white;
  background-color: #28C0F1;
  border-radius: 20px;
  padding: 13px;
  margin-top: 1.5rem;
}
.title{
  display: flex;
} 
.title h2{
  margin-left: 1rem;
}
.paragraph{
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  color: #7B8284;
}
.experience,
.service-all,
.service-keep,
.service-musicapp,
.service-best,
.service-world{
  margin-top: 2rem;
}
.service-musicapp{
  margin-right: 1.2rem;
}

@media screen and (max-width: 1168px){
  .welcome,
  .service {
    width: 100%;
  }
  
}

@media screen and ( max-width: 600px){
  .service,
  .welcome {
    width: 100%;
    margin-top: 0.5rem;
  }
  
}