*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
.container,
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.welcome{
  width: calc(100% / 3 -5);
  margin-left: 5rem;
  margin-top: 4rem;
}
.services{
  width: calc(100% / 3 * 2);
}
.service{
  width:calc(50% );
  
}
.welcome-title{
  font-size: 40px;
  font-weight: 600;
}
.blu{
  color: #28C0F1;
}
.container .welcome p{
  line-height: 25px;
}
.welcome-text{
  margin-top: 1.5rem;
}
.welcome-btn{
  border: none;
  color: white;
  background-color: #28C0F1;
  border-radius: 20px;
  padding: 13px;
  margin-top: 1.5rem;
}
.title{
  display: flex;
} 
.title h2{
  margin-left: 1rem;
}
.paragraph{
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  color: #7B8284;
}
.paragraph p{
  line-height: 25px;
}
.experience,
.service-all,
.service-keep,
.service-musicapp,
.service-best,
.service-world{
  margin-top: 2rem;
}

@media screen and (max-width: 1168px){
  .welcome,
  .services {
    width: 100%;
  }
  
}
@media screen and (max-width: 1160px){
  .welcome,
  .welcome-btn{
    width:calc( 100% );
    background-color: aqua;
  }
  
}
@media screen and  (max-width:1130px){
  .welcome{
    width: 100%;
    background-color: yellow;
  }
  
}
@media screen and ( max-width: 600px){
  .service,
  .welcome {
    width: 100%;
    margin-top: 0.5rem;
  }
  
}